[Desktop Entry]
Type=Application
Name=Open Horned Rat
Comment=Play Shadow of the Horned Rat with your own game files
Exec=AppRun
Icon=ohr-engine
Terminal=false
Categories=Game;StrategyGame;
