[Desktop Entry]
Type=Application
Name=Open Horned Rat Engine
Comment=Play Shadow of the Horned Rat with your own game files
Exec=ohr-engine-launch
Icon=applications-games
Terminal=true
Categories=Game;StrategyGame;
